* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
	color: white;
}

.name {
	font-size: 100px;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

.input_text {
	justify-content: center;
	padding: 12px 20px;
	border: #4b6c96;
	border-radius: 8px;
	margin: 8px 0;
	box-sizing: border-box;
}

.submit {
	justify-content: center;
	border: 2px solid #4b6c96;
	border-radius: 8px;
	padding: 5px 10px;
}
